@import ../lib/color

body
  color: $font-color
  background: image-url("layout/jigoku_loop.gif") fixed repeat-x 0 100% $main_bg_color

#wrapper
  margin: 0 auto
  text-align: left
  width: 810px
  padding-top: 75px
  margin: auto
  padding-bottom: 100px

.globalHeader
  text-align: center
  margin-bottom: 5em
  h1
    margin-bottom: 12px

  h2.globalHeader__desc
    font-weight: normal
    font-size: 0.75em




.globalFooter
  margin-top: 4em

.author
  text-align: center

  .author__img
    width: 120px
    height: 120px
    margin: 3em auto 0.3em
    img
      border-radius: 80px
  .author__desc
    line-height: 1.4
    font-size: 0.8em
    margin: 1em
    text-shadow: 0 0 4px #000
  .author__accounts
    span
      .fa-circle
        color: $assort_color !important
      &:hover
        .fa-circle
          color: $font-color !important
        .fa-inverse
          color: $assort_color !important
    ul
      display: table
      margin: auto
    .author__accountsItem
      display: table-cell
      padding: 0 0.2em

/////* 479px以下用（スマートフォン用）の記述 */
@media screen and (max-width: 767px)

  #wrapper
    width: 100%
    padding: 10%  5%  5%

  .globalHeader
    .globalHeader__logo img
      width: 98%

