@import ../lib/color

.post

  .post__title
    font-size: 250%
    font-weight: normal
    font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro", "ＭＳ Ｐ明朝","MS PMincho", serif
    margin-bottom: 25px
    color: $assort_color
    line-height: 1.25
    word-wrap: break-word

    //トラッキング用
    span
      letter-spacing: -0.13em
      &.kigou
        letter-spacing: -0.23em


    a
      color: inherit
      &:hover
        background: rgba(255, 255, 255, 0.1)

.entry
  h2, h3
    font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro", "ＭＳ Ｐ明朝","MS PMincho", serif
    margin-bottom: 1.5em

  h2
    margin-top: 4.5em
    font-size: 175%
    border-bottom: 1px dotted #999
    &:first-child
      margin-top: 1em

  h3
    margin-top: 3em
    font-size: 150%

  h2 + h3
    margin-top: 1em

  ul, p, pre,ol
    margin-bottom: 1.5em

  ul
    padding-left: 1em
    margin-left: 0.7em

  ol
    padding-left: 1.3em
    margin-left: 1em


  ul li
    margin-bottom: 0.3em
    list-style: disc

  ol li
    margin-bottom: 0.3em
    list-style: decimal
